/*h1,
h2 {
  color: red;
}*/

p {
  color: steelblue;
  font-weight: bold;
}
section {
  background-color: thistle;
}

section.important {
  color: green;
}
/*ejemplo de id, con 2 clases (important e inicial) y ademas pseudclase.
 si se nos complica mucho, podemos poner un id para no volvernos locos concatenando clases*/
section#principal.important.initial::first-letter {
  color: green;
}

/*todos los parrafos que son hijos de section y a la vez hijos de main(separado por espacio)*/
main section p {
  background-color: blue;
}
/*todos los parrafos hijos de una sección de clase imortant y a la vez hijos de main*/
main section.important p {
  background-color: red;
}

/*para seleccionar hijos directos (no los nietos...) se usa >*/

main > p {
  background-color: yellow;
}

/*selectores adyacentes todos los a que van despues de un párrafo*/
p + a {
  font-size: 44px;
}

/*selecciona elementos ul que aparezcan después de un p, no obliga a que sea consicutivo*/
p ~ ul {
  color: red;
}
