/*directamente el selector es un tab*/
h1 {
  background-color: steelblue;
  color: yellow;
}
/*
a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}*/

/*si es una clase va con el punto delante*/
.important {
  font-weight: bold;
  font-size: 25px;
}
.hl {
  text-decoration: underline rebeccapurple;
}
/*si es un id va con una almohadilla*/
#principal {
  background-color: pink;
}
/*si es un atributo de html va entre corchetes*/
[lang] {
  color: green;
}

/*si es un atributo de html va entre corchetes*/
[lang="gl"] {
  color: brown;
}
[data-importancia] {
  font-weight: bold;
}
[data-importancia="alta"] {
  font-size: 30px;
}
/*La especificidad determina que declaracion
 de css se va a aplicar en caso de que hay un conflicto*/
[data-importancia="baja"] {
  font-size: 8px;
}
/*si selecciono a es igual que seleccionar todos los atributos href*/
/*
[href="https://google.es"]
{
  color: red;
}
*/
/*  
^= todos los atributos que emepiecen por 
$= todos los atributos que acaben por 
*= todos los atributos que contengan
*/
[href^="http"] {
  color: white;
  background-color: red;
}

/*pseudo-clases no seleccionamos por el elemento que es ni por sus atributos
seleccionamos por su estado, por su posición, si tienen hijos o no les tienen
*/
