/*
p::first-letter {
  font-size: 100px;
}
*/
p::first-line {
  color: blue;
}
/*lo que selecciono*/
::selection {
  background-color: lightpink;
}

/*si selecciono el h1*/
h1::selection {
  background-color: green;
}

h2::after {
  content: "<<";
}

h2::before {
  content: "\1F36F";
}

[lang="es"]::before {
  content: "\1F1EA\1F1E6";
  font-size: 60px;
  background-color: green;
}
[lang="en"]::before {
  content: "\1F1E6\1F1E8";
  font-size: 60px;
  background-color: green;
}
