/*se aplica cuando el ratón está encima de un elemento*/
/*normalmente van asociadas a otro selector
parrafo que cuando esté el ratón encima....*/

/*en los dispositivos moviles y/o táctiles no hay hover porque no hay ratón*/
p:hover {
  background-color: yellow;
}

a:visited {
  color: red;
}
/*se activa mientras estas clicando*/
a:active {
  font-size: 30px;
}
/*el hijo. first child es el primero*/
li:first-child {
  font-weight: bold;
  color: red;
}
/*el hijo número 3*/
li:nth-child(3) {
  font-size: 22px;
}
li:only-child {
  color: green;
}

/*elegir lo que no coincide con lo que esta entre parentesis*/
li:not(.important) {
  background-color: plum;
}
li:not(:last-child) {
  background-color: plum;
}
